# LUNA monorepo integration: Danny Nunez (dnunezx) 2026
*.o
*.elf
*.irx
*.IRX
*.map
*_irx.c
*.pyc
*.raw
*.yaml
*.iso
*.img
*.7z
pcsx2*

obj/
obj.*/

ee/loader/irx/
ee/loader/version.txt
lab/iso/
lab/ioprp/
releases/

.*
!.clang-format
!.gitignore

CLAUDE.md
